@import "tailwindcss";

@theme {
  --color-main-color: #6E38F7;
    --breakpoint-nav: 835px;
}

.custom-nav-hidden {
  display: none;
}

@media (min-width: 835px) {
  .custom-nav-hidden {
    display: flex;
  }
  .custom-burger-visible {
    display: none;
  }
}

#faq-text {
    transition: opacity 0.2s ease-in-out;
}

.faq-btn {
    transition: all 0.2s ease;
}

.faq-btn:hover {
    background-color: #F9FAFB;
}

.active-faq {
    background-color: #F3F4F6 !important;
}

.active-faq .faq-button-text {
    color: #000000 !important;
}

#faq-display {
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}